body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:751px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:138px;
  width:591px;
  height:208px;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:30px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:30px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:292px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:30px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:0px;
  width:295px;
  height:30px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:291px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:30px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:296px;
  height:30px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:292px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:30px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:30px;
  width:295px;
  height:30px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:291px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:30px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:296px;
  height:30px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:292px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:30px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:60px;
  width:295px;
  height:30px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:291px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:40px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:296px;
  height:40px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:292px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:90px;
  width:295px;
  height:40px;
  color:#000000;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:291px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:78px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:296px;
  height:78px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:292px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:78px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:130px;
  width:295px;
  height:78px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:291px;
  word-wrap:break-word;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:398px;
  width:140px;
  height:25px;
}
#u81_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:79px;
  width:124px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
