body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:674px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:42px;
  width:434px;
  height:79px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:79px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:260px;
  width:121px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u2_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:260px;
  width:116px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:98px;
  word-wrap:break-word;
}
#u3_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:158px;
  width:300px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:207px;
  width:300px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:309px;
  width:185px;
  height:51px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:51px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:158px;
  width:50px;
  height:25px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:207px;
  width:51px;
  height:31px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:270px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:169px;
  width:5px;
  height:255px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:215px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:224px;
  width:5px;
  height:200px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:424px;
  width:182px;
  height:37px;
  font-size:18px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-13px;
  width:300px;
  height:37px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:285px;
  width:284px;
  height:11px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-13px;
  width:149px;
  height:31px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:254px;
  width:133px;
  height:5px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:253px;
  width:119px;
  height:75px;
  font-size:18px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
